@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Gordita";
  font-weight: 400;
  src: url("./assets/fonts/gordita-regular.woff") format("woff");
}
@font-face {
  font-family: "Gordita";
  font-weight: 300;
  src: url("./assets/fonts/gordita-light.woff") format("woff");
}
.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #E9EAEC;
  padding: 40px 0;
  align-items: center;
}
nav ul {
  font-family: "Gordita";
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: bold;
}
nav ul a {
  text-decoration: none;
  color: #0F1620;
}
nav ul .login, nav ul .register {
  padding: 16px 27px;
}
nav ul .register {
  background-color: #00BF58;
  color: white;
  border-radius: 20px;
}

.homePageHeader {
  background-color: #E9EAEC;
  text-align: center;
  padding-bottom: 10px;
}
.homePageHeader .cvUpload p {
  border-bottom: 1px solid black;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 20px 0 6px 0;
  font-weight: bold;
}
.homePageHeader .cvUpload p span {
  vertical-align: middle;
}

.searchMenu {
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  padding: 20px 10px;
  border-radius: 10px;
}
.searchMenu button {
  background-color: #00BF58;
  border: 1px solid #00BF58;
  font-family: "Gordita";
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  padding: 10px 22px;
  text-transform: uppercase;
}
.searchMenu div {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #C4C4C4;
  padding: 0 20px 0 20px;
  font-family: "Gordita";
}
.searchMenu div label {
  color: #9197AD;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.searchMenu div select {
  border: none;
  padding-right: 55px;
  position: relative;
  right: 3px;
  font-weight: bold;
}
.searchMenu div input {
  border: none;
}
.searchMenu div input::-moz-placeholder {
  font-weight: bold;
  color: black;
}
.searchMenu div input::placeholder {
  font-weight: bold;
  color: black;
}
.searchMenu div:last-of-type {
  border: none;
}

.categoriesTitle {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.categoriesTitle h2 {
  font-family: "Gordita";
  font-size: 2.25rem;
}
.categoriesTitle a {
  color: #00BF58;
  font-family: "Gordita";
  text-decoration: none;
  border-bottom: 1px solid #00BF58;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.19rem;
}

.cardContainer {
  display: flex;
  gap: 30px;
  margin: 60px 0 100px 0;
  justify-content: space-between;
}

.card {
  border: 1px solid #DFF2EE;
  border-radius: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-self: center;
  padding: 80px 40px;
}

.homePageExplore .homePageExplorerFlexContainer {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
.homePageExplore .textContainer {
  background-color: #765246;
  width: 55%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.homePageExplore .textContainer h3, .homePageExplore .textContainer p, .homePageExplore .textContainer span {
  width: 60%;
  margin: 35px auto;
  text-align: left;
}
.homePageExplore .textContainer h3 {
  font-family: "EB Garamond", serif;
  color: white;
  font-size: 4.5rem;
}
.homePageExplore .textContainer p {
  font-size: 1.25rem;
  color: white;
  letter-spacing: 2px;
  line-height: 2;
}
.homePageExplore .textContainer span {
  font-family: "Gordita";
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
}
.homePageExplore .textContainer span a {
  color: white;
}
.homePageExplore .exploreImageContainer {
  width: 45%;
}
.homePageExplore .exploreImageContainer img {
  min-height: 100%;
}

.features {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.features h3 {
  font-family: "Gordita";
  font-size: 3.25rem;
}
.features p {
  text-align: center;
  margin-top: 20px;
}

.jobListings {
  margin-top: 100px;
}
.jobListings P:nth-child(3) {
  width: 705px;
  margin: 50px auto;
  border: 1px solid #F0F6F4;
  border-radius: 30px;
  background-color: #F0F6F4;
  padding: 10px 20px;
  font-weight: bold;
}
.jobListings P:nth-child(3) span {
  color: #00BF58;
}
.jobListings P:nth-child(3) span a {
  color: #00BF58;
}
.jobListings .jobListingsTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.jobListings .jobListingsTitleContainer a {
  color: #00BF58;
  font-family: "Gordita";
  text-decoration: none;
  border-bottom: 1px solid #00BF58;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.19rem;
}
.jobListings h2 {
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
}

.listings {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.jobListing {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.jobListing .positionAndLogo {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 300px;
}
.jobListing .jobDate {
  width: 200px;
}
.jobListing .jobButtons {
  display: flex;
  gap: 10px;
}
.jobListing .jobLocation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}
.jobListing .jobLocation P:first-of-type {
  font-weight: 300;
}
.jobListing .jobLocation P:last-of-type {
  font-weight: bold;
}
.jobListing .jobButtons {
  display: flex;
  align-items: center;
}
.jobListing .jobButtons button {
  background-color: #00BF58;
  color: white;
  border: 1px solid #00BF58;
  border-radius: 17px;
  text-transform: uppercase;
  font-size: 0.75rem;
  width: 100px;
  height: 35px;
  cursor: pointer;
}
.jobListing .jobButtons .bookmark {
  align-self: center;
  cursor: pointer;
}

.testimonials {
  margin-top: 80px;
}
.testimonials h2 {
  font-size: 4.5rem;
  width: 55%;
  margin-bottom: 40px;
}

.testimonialCardContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.testimonialCard, .testimonialCardAlt {
  color: white;
  width: 770px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.testimonialCard {
  background-color: #00BF58;
}

.testimonialCardAlt {
  background-color: #755146;
}

.testimonialClientSearchContainer {
  display: flex;
  justify-content: space-between;
}
.testimonialClientSearchContainer p:first-of-type {
  font-weight: 300;
}
.testimonialClientSearchContainer h2 {
  font-family: "EB Garamond", serif;
  font-size: 4.7rem;
  width: 100%;
}
.testimonialClientSearchContainer div {
  width: 50%;
}

h1, h2, h3, h4, h5, p, button {
  line-height: 1.2;
  letter-spacing: 1.2px;
}

p {
  font-family: "Gordita";
}

h1 {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 5.63rem;
}
h1 span {
  display: block;
}

.homePageHeader > p {
  font-family: "EB Garamond", serif;
  font-size: 1.25rem;
  margin: 20px 0 40px;
}

.positionAndLogo > h4 {
  font-family: "Gordita";
  font-size: 1.25rem;
  max-width: 400px;
}

.jobDate .employmentType {
  color: #00BF58;
  font-weight: bold;
  margin-bottom: 10px;
}
.jobDate p {
  font-weight: 100;
}
.jobDate span {
  font-weight: bold;
}/*# sourceMappingURL=App.css.map */