@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Gordita";
  font-weight: 400;
  src: url("./assets/fonts/gordita-regular.woff") format("woff");
}
@font-face {
  font-family: "Gordita";
  font-weight: 300;
  src: url("./assets/fonts/gordita-light.woff") format("woff");
}
.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  align-items: center;
}
nav ul {
  font-family: "Gordita";
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: bold;
}
nav ul a {
  text-decoration: none;
}
nav ul .login, nav ul .register {
  padding: 16px 27px;
}
nav ul .register {
  background-color: #00BF58;
  color: white;
  border-radius: 20px;
}

.homePageHeader {
  background-color: #E9EAEC;
  text-align: center;
  padding-bottom: 10px;
}
.homePageHeader .cvUpload p {
  border-bottom: 1px solid black;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 20px 0 6px 0;
  font-weight: bold;
}
.homePageHeader .cvUpload p span {
  vertical-align: middle;
}

.searchMenu {
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  padding: 20px 10px;
  border-radius: 10px;
}
.searchMenu button {
  background-color: #00BF58;
  border: 1px solid #00BF58;
  font-family: "Gordita";
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 5px;
  color: white;
  padding: 10px 22px;
  text-transform: uppercase;
}
.searchMenu div {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #C4C4C4;
  padding: 0 20px 0 20px;
  font-family: "Gordita";
}
.searchMenu div label {
  color: #9197AD;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.searchMenu div select {
  border: none;
  padding-right: 55px;
  position: relative;
  right: 3px;
  font-weight: bold;
}
.searchMenu div input {
  border: none;
}
.searchMenu div input::-moz-placeholder {
  font-weight: bold;
  color: black;
}
.searchMenu div input::placeholder {
  font-weight: bold;
  color: black;
}
.searchMenu div:last-of-type {
  border: none;
}

.categoriesTitle {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.categoriesTitle h2 {
  font-family: "Gordita";
  font-size: 2.25rem;
}
.categoriesTitle a {
  color: #00BF58;
  font-family: "Gordita";
  text-decoration: none;
  border-bottom: 1px solid #00BF58;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.19rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 60px 0 100px 0;
  justify-content: space-between;
}

.card {
  border: 1px solid #DFF2EE;
  border-radius: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-self: center;
  padding: 80px 40px;
}

.homePageExplore .homePageExplorerFlexContainer {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
.homePageExplore .textContainer {
  background-color: #765246;
  width: 55%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.homePageExplore .textContainer h3, .homePageExplore .textContainer p, .homePageExplore .textContainer span {
  width: 60%;
  margin: 35px auto;
  text-align: left;
}
.homePageExplore .textContainer h3 {
  font-family: "EB Garamond", serif;
  color: white;
  font-size: 4.5rem;
}
.homePageExplore .textContainer p {
  font-size: 1.25rem;
  color: white;
  letter-spacing: 2px;
  line-height: 2;
}
.homePageExplore .textContainer span {
  font-family: "Gordita";
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
}
.homePageExplore .textContainer span a {
  color: white;
}
.homePageExplore .exploreImageContainer {
  width: 45%;
  background-color: #C3C3C3;
}
.homePageExplore .exploreImageContainer img {
  min-height: 100%;
}

.features {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.features h3 {
  font-family: "Gordita";
  font-size: 3.25rem;
}
.features p {
  text-align: center;
  margin-top: 20px;
}

.jobListings {
  margin-top: 100px;
}
.jobListings P:nth-child(3) {
  width: 705px;
  margin: 50px auto;
  border: 1px solid #F0F6F4;
  border-radius: 30px;
  background-color: #F0F6F4;
  padding: 10px 20px;
  font-weight: bold;
}
.jobListings P:nth-child(3) span {
  color: #00BF58;
}
.jobListings P:nth-child(3) span a {
  color: #00BF58;
}
.jobListings .jobListingsTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.jobListings .jobListingsTitleContainer a {
  color: #00BF58;
  font-family: "Gordita";
  text-decoration: none;
  border-bottom: 1px solid #00BF58;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.19rem;
}
.jobListings h2 {
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
}

.listings {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.jobListing {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.jobListing .positionAndLogo {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 300px;
}
.jobListing .jobDate {
  width: 200px;
}
.jobListing .jobButtons {
  display: flex;
  gap: 10px;
}
.jobListing .jobLocation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}
.jobListing .jobLocation P:first-of-type {
  font-weight: 300;
}
.jobListing .jobLocation P:last-of-type {
  font-weight: bold;
}
.jobListing .jobButtons {
  display: flex;
  align-items: center;
}
.jobListing .jobButtons button {
  background-color: #00BF58;
  color: white;
  border: 1px solid #00BF58;
  border-radius: 17px;
  text-transform: uppercase;
  font-size: 0.75rem;
  width: 100px;
  height: 35px;
  cursor: pointer;
}
.jobListing .jobButtons .bookmark {
  align-self: center;
  cursor: pointer;
}

.testimonials {
  margin-top: 80px;
}
.testimonials h2 {
  font-size: 4.5rem;
  width: 55%;
  margin-bottom: 40px;
}

.testimonialCardContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.testimonialCard, .testimonialCardAlt {
  color: white;
  width: 770px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.testimonialCard {
  background-color: #00BF58;
}

.testimonialCardAlt {
  background-color: #755146;
}

.testimonialClientSearchContainer {
  display: flex;
  justify-content: space-between;
}
.testimonialClientSearchContainer p:first-of-type {
  font-weight: 300;
}
.testimonialClientSearchContainer h2 {
  font-family: "EB Garamond", serif;
  font-size: 4.7rem;
  width: 100%;
}
.testimonialClientSearchContainer .tcsmLeft {
  width: 55%;
}
.testimonialClientSearchContainer .tcsmRight {
  width: 40%;
}
.testimonialClientSearchContainer .tcsmRight a {
  border: 2px solid #00BF58;
  border-radius: 6px;
  color: #00BF58;
  text-decoration: none;
  font-family: "Gordita";
  font-weight: bold;
  font-size: 1.13rem;
  padding: 10px 20px;
}

.questionsAndAnswers {
  margin-top: 100px;
  margin-bottom: 100px;
}

.qAndAHelp {
  border: 1px solid #00BF58;
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 20px;
}
.qAndAHelp a {
  color: #00BF58;
}

h1, h2, h3, h4, h5, p, button {
  line-height: 1.2;
  letter-spacing: 1.2px;
}

p {
  font-family: "Gordita";
}

h1 {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 5.63rem;
}
h1 span {
  display: block;
}

.homePageHeader > p {
  font-family: "EB Garamond", serif;
  font-size: 1.25rem;
  margin: 20px 0 40px;
}

.positionAndLogo > h4 {
  font-family: "Gordita";
  font-size: 1.25rem;
  max-width: 400px;
}

.jobDate .employmentType {
  color: #00BF58;
  font-weight: bold;
  margin-bottom: 10px;
}
.jobDate p {
  font-weight: 100;
}
.jobDate span {
  font-weight: bold;
}

.questionsAndAnswers > h2 {
  font-family: "EB Garamond", serif;
  font-size: 4.7rem;
  text-align: center;
  margin-bottom: 4rem;
}

.accordionParent {
  border-radius: 3px;
  background-color: white;
  margin-bottom: 4rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  border-bottom: 1px solid #aaa;
}
.accordion h4 {
  font-family: "Gordita";
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.accordion .toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 10px 15px;
  fill: black;
  color: black;
  transition: 0.15s ease, fill 0.15 ease;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.accordion:first-child .toggle {
  border-bottom: 0;
}

.accordion .toggle .directionIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  font-weight: 600;
}

.accordion .contentParent, .answerParent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  color: black;
}

.accordion.toggled .contentParent {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.accordion.toggled .answerParent {
  max-height: 600px;
  transition: max-height 0.25s ease-in;
}

.accordion .content {
  padding: 2px 15px 30px 15px;
}
.accordion .content p {
  line-height: 32px;
  font-weight: 400;
  font-size: 1.13rem;
}

.qAndAContainer {
  background-color: #F0F6F4;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 0.5rem;
}
.qAndAContainer .accordion {
  border-bottom: 1px solid #d1d6d4;
}
.qAndAContainer .accordion:last-of-type {
  border: none;
}

.question {
  padding-bottom: 20px;
}

.listings .accordion {
  background-color: #F0F6F4;
  border-radius: 20px;
  display: flex;
  border: none;
  padding: 20px;
  font-family: "Gordita";
}
.listings .accordionContent {
  padding: 10px 15px;
}

.jobFilterKeyword {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.jobFilterKeyword input {
  width: 200px;
}

.jobList .listings {
  border: none;
}
.jobList .jobListing {
  border: 1px lightgrey solid;
  margin: 20px 0;
  border-radius: 10px;
}
.jobList .searchMenubg {
  background-color: #254135;
  padding-bottom: 100px;
  width: 100%;
}
.jobList a {
  font-family: "Gordita";
  color: black;
  text-decoration: none;
}
.jobList a:hover {
  color: #00BF58;
}

.jobTotal {
  font-family: "Gordita";
  font-weight: 300;
}
.jobTotal span {
  font-weight: bold;
}

input {
  padding: 10px 10px;
  font-family: "Gordita";
  font-size: 0.8rem;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.jobDetailsWrapper {
  max-width: 1600px;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 4.5rem;
}
.jobDetailsWrapper .cardContainer {
  gap: 0;
  margin-top: 0;
  padding-top: 3.5rem;
}
.jobDetailsWrapper .cardContainer .card {
  max-width: 300px;
  min-width: 200px;
  padding: 80px 20px;
  background-color: white;
}

.jobInfo h2 {
  font-family: "Gordita";
  font-size: 1.39rem;
  margin-bottom: 1.1rem;
}
.jobInfo p, .jobInfo li {
  font-family: "Gordita";
  line-height: 2;
}
.jobInfo li {
  margin: 1.2rem;
}
.jobInfo div {
  margin: 3rem 0;
}
.jobInfo ul.responsibilities {
  list-style: none;
  padding-left: 0;
}
.jobInfo ul.responsibilities li {
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.jobInfo ul.responsibilities li::before {
  content: "";
  position: absolute;
  left: 15%;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8' fill='%234F7B68'/%3E%3Cpath d='M4.6434 8.61868L7.59063 11.2446C8.45339 9.78577 10.5175 6.61148 11.8719 5.58504' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.jobDetailsBg {
  background-color: #F0F6F4;
}

.jobDetailsTitle {
  background-color: #254135;
  width: 100%;
  padding: 2rem 0 5rem 0;
}
.jobDetailsTitle h1 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
}
.jobDetailsTitle ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  margin: 20px 40px 0 0;
}
.jobDetailsTitle ul li {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #50655C;
  border-radius: 5px;
  gap: 5px;
  padding: 5px 14px;
  cursor: pointer;
  color: white;
  font-size: 0.87rem;
}
.jobDetailsTitle ul li:last-of-type {
  gap: 0;
}

.topFooter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.topFooter .footerSocialsContainer {
  display: flex;
  width: 130px;
  justify-content: space-between;
  margin-top: 20px;
}
.topFooter ul {
  list-style: none;
  font-family: "Gordita";
}

.footerLeft {
  width: 20%;
}

.footerRight {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.footerRight h5 {
  font-family: "Gordita";
  font-size: 1.5rem;
}
.footerRight ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footerRight li {
  font-weight: 300;
}
.footerRight li a {
  text-decoration: none;
  color: black;
}

.bottomFooter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.bottomFooter p {
  margin-right: 50px;
  font-weight: 300;
}
.bottomFooter ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.bottomFooter ul a {
  color: black;
  text-decoration: none;
  font-family: "Gordita";
  font-weight: bold;
}
.bottomFooter .socialIcons {
  display: flex;
  gap: 30px;
}

.lookingForJobAd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 25px;
}
.lookingForJobAd div {
  width: 40%;
}
.lookingForJobAd div:last-of-type {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.lookingForJobAd h4 {
  font-family: "EB Garamond", serif;
  font-size: 3.4rem;
}
.lookingForJobAd p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 1.25rem;
}
.lookingForJobAd button {
  border: 2px solid #00BF58;
  font-family: "Gordita";
  border-radius: 5px;
  padding: 15px 10px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.lookingForJobAd button:first-of-type {
  color: #00BF58;
  background-color: white;
  width: 190px;
}
.lookingForJobAd button:last-of-type {
  background-color: #00BF58;
  color: white;
  width: 155px;
}

@media (max-width: 1075px) {
  .cardContainer {
    justify-content: normal;
  }
  .testimonials h2 {
    width: 80%;
  }
  .testimonialCard {
    width: 48%;
  }
  .testimonialCardAlt {
    width: 48%;
  }
  .tcsmLeft img {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 4.8rem;
  }
  .questionsAndAnswers > h2 {
    font-size: 4rem;
  }
  .testimonials > h2 {
    font-size: 4rem;
  }
  .jobListings h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  nav {
    flex-wrap: wrap;
  }
  .accordion h4 {
    font-size: 1.23rem;
  }
  .features {
    flex-wrap: wrap;
  }
  .homePageExplore .homePageExplorerFlexContainer {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .testimonialCardContainer {
    flex-wrap: wrap;
    gap: 10px;
  }
  .testimonialCardContainer .testimonialCard {
    width: 100%;
  }
  .testimonialCardContainer .testimonialCardAlt {
    width: 100%;
  }
  .exploreImageContainer {
    display: none;
  }
  .homePageExplore .textContainer {
    width: 100%;
  }
  .jobListings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .jobListing {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    padding: 15px;
  }
  .jobListings P:nth-child(3) {
    width: 100%;
  }
  .card {
    width: 300px;
    text-align: center;
  }
  .cardContainer {
    justify-content: center;
  }
  .testimonialClientSearchContainer {
    flex-direction: column;
    align-items: center;
  }
  .testimonialClientSearchContainer .tcsmLeft {
    display: none;
  }
  .testimonialClientSearchContainer .tcsmRight {
    width: 100%;
  }
  .testimonialClientSearchContainer .tcsmRight h2 {
    font-size: 2.5rem;
    width: 100%;
  }
  .lookingForJobAd {
    align-items: center;
  }
  .topFooter {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .topFooter .footerLeft {
    width: 100%;
  }
  .topFooter .footerRight {
    width: 100%;
  }
  .bottomFooter {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .bottomFooter p {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .searchMenu {
    flex-direction: column;
  }
  .categoriesTitle {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .features {
    flex-direction: column;
    align-items: center;
  }
  .jobListingsTitleContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .testimonials h2 {
    text-align: center;
    width: 100%;
  }
  .lookingForJobAd {
    flex-direction: column;
  }
  .lookingForJobAd div {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */