@use "./variables";

.accordionParent{
    border-radius: 3px;
    background-color: white;
    margin-bottom: 4rem;
}


.accordion{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    border-bottom: 1px solid #aaa;
    h4{
        font-family: variables.$gordita;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

.accordion .toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 10px 15px;
    fill: black;
    color: black;
    transition: color 0.15s ease, fill 0.15 ease;
    font-weight: 600;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


.accordion:first-child .toggle{
    border-bottom: 0;
}

.accordion .toggle .directionIndicator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    font-weight: 600;
}

.accordion .contentParent,.answerParent{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    color: black;
    
}

.accordion.toggled .contentParent{
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.accordion.toggled .answerParent{
    max-height: 600px;
    transition: max-height 0.25s ease-in;
}

.accordion {
    .content{
        padding: 2px 15px 30px 15px;
        p{
            line-height: 32px;
            font-weight: 400;
            font-size: 1.13rem;
        }
    }
}


.qAndAContainer{
    background-color: #F0F6F4;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 0.5rem;
    .accordion{
        border-bottom: 1px solid #d1d6d4;
    }
    .accordion:last-of-type{
        border: none;
    }
}


.question{
    padding-bottom: 20px;
}

// Filter Accordion - JOB LISTINGS PAGE

.listings{
    .accordion{
        background-color: #F0F6F4;
        border-radius: 20px;
        display: flex;
        border: none;
        padding: 20px;
        font-family: variables.$gordita;
    }
    .accordionContent{
        padding:10px 15px;
    }   
}

.jobFilterKeyword{
    display: flex;
    flex-direction: column;
    gap: 10px;
    input{
        width: 200px;
    }
}
