@use "./variables";

.errorContainer{
    display: flex;
    flex-wrap: wrap;
}

.errText{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
        p:last-of-type{
        font-family: variables.$gordita;
        width: 90%;
        line-height: 2;
    }
}

.svgContainer{
    img{
        max-width: 100%;
    }
}

.fourOhfour{
    font-family: variables.$garmond;
    color: #31795A;
    font-size: 6.3rem;
}



.errorPage{
    .errText{
        a{
            background-color: #D2F34C;
            border: 1px solid #D2F34C;
            border-radius: 40px;
            display: flex;
            padding: 10px 22px;
            text-transform: uppercase;
            font-family: variables.$gordita;
            font-weight: bold;
            justify-content: space-between;
            cursor: pointer;
            text-decoration: none;
            color: black;
            margin-top: 20px;
        }

    }
}

@media(max-width: 768px){
    .errText{
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


}