@use "./variables";

.topFooter{
    display: flex;
    justify-content:space-between;
    padding-bottom: 50px;
    .footerSocialsContainer{
        display: flex;
        width: 130px;
        justify-content: space-between;
        margin-top: 20px;
    }
    ul{
        list-style: none;
        font-family: variables.$gordita;
    }

}

.footerLeft{
    width: 20%;
}

.footerRight{
    width:  60%;
    display: flex;
    justify-content: space-between;
    h5{
        font-family: variables.$gordita;
        font-size: 1.5rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    li{
        font-weight: 300;
        a{
            text-decoration: none;
            color: black;
        }
    }
}

.bottomFooter{
    display:flex;
    justify-content: space-between;
    padding-bottom: 30px;
    p{
        margin-right: 50px;
        font-weight: 300;
    }
    ul{
        display: flex;
        list-style: none;
        gap: 10px;
        a{
            color: black;
            text-decoration: none;
            font-family: variables.$gordita;
            font-weight: bold;
        }
    }
    .socialIcons{
        display: flex;
        gap: 30px;
    }
}

.lookingForJobAd{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    div{
        width: 40%;
    }

    div:last-of-type{
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }

    h4{
        font-family: variables.$garmond;
        font-size: 3.4rem;
    }
    p{
        font-weight: 300;
        margin-top: 10px;
        font-size: 1.25rem;
    }
        button{
            border: 2px solid variables.$logoGreen;
            font-family: variables.$gordita;
            border-radius: 5px;
            padding: 15px 10px;
            font-weight: bold;
            margin: 10px;
            cursor: pointer;
        }
        button:first-of-type{
            color: variables.$logoGreen;
            background-color: white;
            width: 190px;
        }
        button:last-of-type{
            background-color: variables.$logoGreen;
            color: white;
            width: 155px;
        }
}