@use "./variables";

@media(max-width:1440px){
    .testimonialCard, .testimonialCardAlt{
        width: 630px;
    }
}

@media (max-width: 1075px){
    .cardContainer{
        justify-content: center;

    }
    .testimonials h2{
        width: 80%;
    }

    .testimonialCard{
        width: 48%;
    }
    .testimonialCardAlt{
        width: 48%;
    }
    .tcsmLeft{
        img{
            max-width: 100%;
        }
    }

    .homePageExplore .exploreImageContainer{
        min-width: 0;
        width: 50%;
    }
}

@media(max-width: 863px){
    .homePageHeader{
        height: 100%;
        padding-bottom: 10px;
    }
}


@media(max-width: 800px){

    h1{
        font-size: 4rem;
    }
    .questionsAndAnswers > h2{
        font-size: 3.5rem;
        margin: 1.5rem 0;
    }

    .testimonials{
        margin-top: 5px;
    }

    .testimonials > h2{
        font-size: 3.5rem;
    }

    .testimonialCard p:first-of-type, .testimonialCardAlt p:first-of-type{
        font-size: 2rem;
    }

    .jobListings{
        h2{
            font-size: 3rem;
        }
    }
    h3{
        font-size: 2rem;
    }

    nav{
        flex-wrap: wrap;
    }

    .accordion h4{
        font-size: 1.23rem;
    }


    .searchMenu{
        flex-direction: column;
        gap: 10px;
        div{
            border: none;
        }
    }

    .features{
        flex-wrap: wrap;
    }

    .homePageExplore .homePageExplorerFlexContainer{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .testimonialCardContainer{
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
        .testimonialCard{
            width: 100%;
        }
        .testimonialCardAlt{
            width: 100%;
        }

    }

    .exploreImageContainer{
        display: none;
    }

    .homePageExplore .textContainer{
        width: 100%;
    }

    .homePageExplore .textContainer h3{
        font-size: 3.5rem;
    }

    .homePageExplore .textContainer p{
        font-size: 1rem;
    }

    .homePageExplore .textContainer h3, .homePageExplore .textContainer p, .homePageExplore .textContainer span{
        margin: 20px auto;
    }

    .features h3{
        font-size: 2.5rem;
    }

    .featureCard h3{
        text-align: center;
    }

    .questionsAndAnswers{
        margin:10px auto;
    }


    .jobListings{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-top: 35px;
    }

    .jobListing{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        padding: 15px;
    }

    .jobListings P:nth-child(3){
        width: 100%;
    }

    .jobListings .jobListingsTitleContainer{
        gap: 10px;
        margin-bottom: 20px;
    }

    .card{
        width: 300px;
        text-align: center;
    }


    .cardContainer{
        justify-content: center;
    }

    .testimonialClientSearchContainer{
        flex-direction: column;
        align-items: center;
        .tcsmLeft{
            display: none;
        }
        .tcsmRight{
            width: 100%;
            h2{
                font-size: 2.5rem;
                width: 100%;
            }
        }
    }

  

    // Footer
    .lookingForJobAd{
        align-items: center;
        flex-direction: column;
        div{
            width: 100%;
        }
    }


    .topFooter{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        .footerLeft{
            width: 100%;
        }
        .footerRight{
            width: 100%;
        }
    }

    .bottomFooter{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        p{
            margin: 0;
        }
    }

    // Hamburger menu

     nav{
        .hamburger{
            display: flex;
            background-color: transparent;
        }
       }
       .navMenu, .loginRegContainer{
        display: none;
       }

       .navMenu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .login,.register{
            display:block;
            padding: 0;
            color: black;
        }
        .register{
            padding: 10px;
        }
       }
       nav{
        flex-direction: column;
       }
}



@media(max-width: 425px){
    .searchMenu{
        flex-direction: column;
    }

    .categoriesTitle{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        padding-top: 2.5rem;
    }

    .features{
        flex-direction: column;
        align-items: center;
        p{
            margin-top: 10px;
        }
    }

    .jobListingsTitleContainer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .testimonials{
        h2{
            text-align: center;
            width: 100%;
        }
    }

    // Footer

    .lookingForJobAd{
        flex-direction: column;
        div{
            width: 100%;
        }
    }

    .footerRight h5{
        font-size: 1rem;
    }

    .footerRight li{
        font-size: 0.9rem;
    }
}