@use "./variables";

h1,h2,h3,h4,h5,p, button{
    line-height: 1.2;
    letter-spacing: 1.2px;
}

p{
    font-family: variables.$gordita;
}


 h1{
        text-align: center;
        font-family: variables.$garmond;
        font-size: 5.63rem;
        span{
            display: block;
        }
    }

    .homePageHeader > p{
        font-family: variables.$garmond;
        font-size: 1.25rem;        
        margin: 20px 0 40px;
    }

    .positionAndLogo > h4{
        font-family: variables.$gordita;
        font-size: 1.25rem;
        max-width: 400px;
    }

    .jobDate{
        .employmentType{
            color: variables.$logoGreen;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p{
            font-weight: 100;
        }
        span{
            font-weight: bold;
        }
    }