@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@font-face{
    font-family: 'Gordita';
    font-weight: 400;
    src: url('./assets/fonts/gordita-regular.woff') format('woff');
}

@font-face{
    font-family: 'Gordita';
    font-weight: 300;
    src: url('./assets/fonts/gordita-light.woff') format('woff');
}

//Colours
$headerBg: #E9EAEC;
$darkGreen: #254135;
$black: #0F1620;
$green: #31795A;
$grey: #C4C4C4;
$lightGreen: #E9F2EF;
$lightGrey: #F5F5F5;
$limeGreen: #D2F34C;
$logoGreen: #00BF58;

//Fonts
$garmond: 'EB Garamond', serif;
$gordita: 'Gordita';